/* комментарий к затемнению

мы пишем z-index: -1 для before, чтобы достать его из под всех блоков, т.к. background для absolute стоит ниже background relative?

Если так, то мы его достали, но теперь он поверх всего, потому что
z-index: -1 все равно будет выше, чем z-index: auto, который.... НАСЛЕДУЕТСЯ ТЕКСТОВЫМИ БЛОКАМИ?

Поэтому мы явно задаем блоку cover__link z-index: 0 и теперь наследуемый текстовыми блоками z-index = 0, before -1 и никакое auto не задает непонятного поведения... Но background image не наследуте z-index = 0, ведь оно по прежнему ПОД z-index: -1, а значит...

Видимость для пользователя (от первого, что он увидит, до самого низа стопки):
1. z-index >= 0*
2. z-index < 0
3. z-index = auto
4. background-image main
5. background-image main:before/after */

.cover__link {
  /* для позиционирования подложки */
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;

  color: #fff;

  /* позиционирование контента блока, т.к. весь контент завернут в <a> */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  background: url(../../../images/__background.png) no-repeat center / cover;
  aspect-ratio: 16 / 10;
}

/* для нивелирования затемнения текста при наведении на блок от html-link */
.cover__link:hover {
  opacity: 1;
}

/* темный фон */
.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s linear;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 639.92px) {
  .cover__link {
    gap: 16px;
  }
}