.cover__link {
  /* видимо или z-index, или вырывать элемент из потока*/
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #fff;
}