@font-face {
  font-family: 'Inter';
  src: 
    url(../../vendor/InterWeb/Inter-Regular.woff2),
    url(../../vendor/InterWeb/Inter-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: 
    url(../../vendor/InterWeb/Inter-Bold.woff2),
    url(../../vendor/InterWeb/Inter-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: 
    url(../../vendor/InterWeb/Inter-Black.woff2),
    url(../../vendor/InterWeb/Inter-Black.woff);
  font-weight: 900;
}

:root {
  /* 48 - исходное значение
  24 - разность вычисляемого значения
  1024 - начальная ширина экрана
  256 - разность ширины экрана */
  --margin-left-right_1024-768: calc(48px - 24*(1024px - 100%)/256);
  --margin-left-right_768-320: calc(24px - 8*(768px - 100%)/448);
}

.body {
  /* упростим работу с отступами и сделаем страничку через grid */
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  grid-template-rows: 28px 52px 1fr 18px 24px;
  /* чтобы работать с cover без извращений, пришлось несколько усложнить структуру и сделать main на всю ширину, а боковые отступы задать внутри main */
  grid-template-areas:
  ". . ."
  ". header ."
  "main main main"
  ". footer ."
  ". . ."; 

  /* центрирование и максимальный размер */
  margin: 0 auto 0;
  max-width: 1280px;

  background-color: #2a2c2f;

  /* стили для всех шрифтов на страничке. Думаю, это тот случай, где БЭМ допускает общие стили, ведь они характерны конкретно для этого блока этой странички */
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;

  /* блок, который ничего не меняет визуально, но делает какую-то магию с 
  красивыми текстами... */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  /* для плавности загрузки и всех незаданных явно изменений */
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 1024px) {
  .body {
    grid-template-columns: 
      var(--margin-left-right_1024-768)
      1fr
      var(--margin-left-right_1024-768);
  }
}

@media screen and (max-width: 768px) {
  .body {
    grid-template-columns: 
      var(--margin-left-right_768-320)
      1fr
      var(--margin-left-right_768-320);
  }
}

@media screen and (max-width: 700px) {
  .body {
    grid-template-rows: 28px 52px 1fr 310px 24px;
  }
}


@media screen and (max-width: 656px) {
  .body {
    grid-template-rows: 25px 49.5px 1fr 310px 24px;
  }
}

@media screen and (max-width: 544px) {
  .body {
    grid-template-rows: 22px 47px 1fr 310px 24px;
  }
}

@media screen and (max-width: 432px) {
  .body {
    grid-template-rows: 19px 44.5px 1fr 310px 24px;
  }
}

@media screen and (max-width: 320px) {
  .body {
    grid-template-rows: 16px 42px 1fr 310px 24px;
  }
}