.places__title {
  /* обнуляем отсутпы браузера */
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 896px) {
  .places__title {
    max-width: 328px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 639.92px) {
  .places__title {
    grid-area: places__title;
    font-size: 32px;
    line-height: 1.09;
  }
}