.places__link {
  margin-top: 12px;
  /* underline визуально слишком близко */
  border-bottom: 1px solid white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
