:root {
  /* интересный эффект, он получает отрицательные числа, но т.к. grid не может иметь отрицательных значений => он заменяет их на 0, но если задать явно отрицательное число типа "-50px", то он позволит ее вставить в грид, а уже грид заменит на 1fr. */
  --margin-100: calc((100% - 984px)/2);
}

.main {
  grid-area: main;

  display: grid;
  row-gap: 92px;
  grid-template-columns: var(--margin-100) 1fr var(--margin-100);
  grid-template-rows: repeat(auto-fit, minmax(429px, max-content));
  grid-template-areas: 
  ". lead ."
  ". intro ."
  "photo-grid photo-grid photo-grid"
  ". places ."
  "cover cover cover";
  
  margin: 56px 0 92px;
}