:root {
  /* интересный эффект, он получает отрицательные числа, но т.к. grid не может иметь отрицательных значений => он заменяет их на 0, но если задать явно отрицательное число типа "-50px", то он позволит ее вставить в грид, а уже грид заменит на 1fr. */
  /* 100 - максимальный размер отступа
  1024px - ширина окна на которой отступ исчезнет 
  256 - разность хода ширины блока*/
  --margin-left-right-100: calc(100*(100% - 1024px)/256);
  /* 56 - максимальный верхний отступ
  8 - уменьшение отступа к 1024px
  1280 - максимальная ширина блока 
  256 - разность хода ширины блока*/
  --margin-top: calc(56px - 8*(1280px - 100%)/256);
}

.main {
  grid-area: main;

  display: grid;
  row-gap: 92px;
  /* автоматически добавляет и убирает margin для 1024-1280 */
  grid-template-columns: 
  48px 
  var(--margin-left-right-100) 
  1fr 
  var(--margin-left-right-100) 
  48px;
  grid-template-rows: repeat(auto-fit, minmax(429px, max-content));
  grid-template-areas: 
  ". . lead . ."
  ". . intro . ."
  ". photo-grid photo-grid photo-grid ."
  ". . places . ."
  "cover cover cover cover cover";
  
  margin: var(--margin-top) 0 92px;
}