.places__picture {
  /* гарантия отсутствия случайных отступов от браузера у img */
  display: block;
  
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media screen and (max-width: 639.92px) {
  .places__picture {
    grid-area: places__picture;
  }
}