.figure {
  margin: 64px 0 0;
  /* убрать пробел между элементами */
  font-size: 0;
  /* чтобы при игре с абсолютной позицией блок не ужимался по содержимому, которого станет меньше */
  min-width: 100%;
}