.places__main-text-element {
  margin: 0;
}

.places__main-text-element:not(:nth-child(1)) {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .places__main-text-element:not(:nth-child(1)) {
    margin-top: 25px;
  }
}