.lead__title {
  margin: 0;
  max-width: 720px;
  font-style: normal;
  font-size: 96px;
  text-align: center;
  line-height: 1.04;
  font-weight: 900;
}

@media screen and (max-width: 827px) {
  .lead__title {
    grid-area: text;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 88px;
  }
}

@media screen and (max-width: 656px) {
  .lead__title {
    font-size: 75px;
    line-height: 1.055;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    font-size: 65px;
    line-height: 1.07;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    max-width: 440px;
    font-size: 52px;
  }
}

@media screen and (max-width: 432px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
