.lead__title {
  /* 16 px нужны для того, чтобы на переходе 600-620 произошел сброс "по" на вторую строку раньше, чем "по" упрется в границу ширины экрана. Проще говоря, из эстетический побуждений*/
  margin: 0 16px;
  max-width: 720px;
  font-style: normal;
  font-size: 96px;
  text-align: center;
  line-height: 1.04;
  font-weight: 900;
}

@media screen and (max-width: 827px) {
  .lead__title {
    grid-area: text;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}