.places__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (max-width: 639.92px) {
  .places__nav {
    grid-area: places__nav;
  }
}