.header__languages-link {  
  font-size: 24px;
  font-weight: 400;
  /* высота строки 28px */
  line-height:  1.17;
  color: #fff;
}

@media screen and (max-width: 656px) {
  .header__languages-link {
    font-size: 22.5px;
    line-height: 1.155;
  }
}

@media screen and (max-width: 544px) {
  .header__languages-link {
    font-size: 21px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 432px) {
  .header__languages-link {
    font-size: 19.5px;
    line-height: 1.125;
  }
}

@media screen and (max-width: 320px) {
  .header__languages-link {
    font-size: 18px;
    line-height: 1.11;
  }
}