.images__photo-grid {
  display: grid;
  /* центрирует в промежуточных положениях */
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  gap: 16px;
}

@media screen and (width: 1024px) {
  .images__photo-grid {
    gap: 14px;
  }
}

@media screen and (width: 768px) {
  .images__photo-grid {
    gap: 16px;
  }
}

@media screen and (width: 320px) {
  .images__photo-grid {
    gap: 12px;
  }
}