/* cтили применяются к блоку cover, но строго говоря не совсем корректно.
вместо одинарного применения - 3, т.к. весь текст внутри ссылки...
поэтому нужно у ссылки убрать подчеркивание, а тексту добавить прозрачность при наведении...*/
.html-link {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.html-link:hover {
  opacity: 0.8;
}