.places__link-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  /* нашел расхождения web-макета и макета, доступного по ссылке для desktop версии. В desktop стоит 0.2em, а в web 2px. */
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
}

@media screen and (max-width: 896px) {
  .places__link-text {
    line-height: 1;
  }
}