.cover {
  grid-area: cover;

  /* position: relative; */
  /* центрирование блока */
  justify-self: center;
  align-self: center;
  /* сочетание свойств отвечает за адаптивность cover*/
  width: 100%;
  /* задает как бы максимальное width: 100% */
  max-width: 1184px;
}

/* костыль, чтобы соответствовало макету, хотя кажется, что дизайнер просто промазал или решил усложнить */
@media screen and (max-width: 768px) {
  .cover {
    margin-top: 2px;
  }
}