.cover__title {
  margin: 0;
  max-width: 560px;
  text-align: center;
}

.cover__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
  }
}