.places__item {
  display: grid;
  grid-template-columns: 
    var(--width-column1_1280-1024) 
    var(--width-column2_1280-1024);
  gap: 48px var(--gap-column_1280-1024);
}

@media screen and (max-width: 1024px) {
  .places__item {
    grid-template-columns: 
      var(--width-column1_1024-768)
      var(--width-column2_1024-768);
    gap: 48px var(--gap-column_1024-768);
  }
}

@media screen and (max-width: 639.92px) {
  .places__item {
    grid-template-areas: 
    ". places__title ."
    ". places__nav ."
    "places__picture places__picture places__picture"
    ". places__main-text .";

    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    gap: 32px 0;
  }
}